$field-padding: 1%;
$field-width: 100% - ($field-padding * 2);

mat-form-field {
  padding: 0 $field-padding;
  width: $field-width;
}

.preview-pad {
  padding: 0 16px;
}

.info, .live-preview {
  width: 48%;
  margin: 1rem 1%;
  padding: 10px 0;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid gray;
  box-sizing: border-box;
}

.info {
  float: left;
}

.live-preview {
  float: right;
  .output {
    font-family: monospace;
  }
}


@media (max-width: 1245px) {
  .live-preview {
    width: 100% - 2%;
    float: left;
  }

  .info {
    width: 100% - 2%;
  }
}

/* Super buggy MatChipInput outline css
.chip-outline {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: .75%;
  width: $field-width - 1.5%;
  margin: 0 1.5px;
  left: -1.5px;
}

.chip-outline.mat-focused {
  border: 2px solid #3f51b5;
  margin: 0;
}

.chip-outline-item {
  margin: 20px 0;
}
*/
